<!DOCTYPE html>
<html>

<head>
  <title>Locations</title>
</head>

<body>

  <p>
    Kaljalle sovellus
  </p>
  <hr />
  <!-- sidebar/tai mikä ikinä se mistä voi mennä muihin sivustoihi-->

  {% if session.username %}
  
  <p>
    <a href="/">Kotisivu</a> 
    <a href="/locations">Sijainnit</a> 
    <a href="/new_location">Uusi sijainti</a> 
    <a href="/logout">Kirjaudu ulos</a> 
    
    <form action="/search" method="get">
      <p>
        Hakusana:
        {% if query %}
        <input type="text" name="query" value="{{ query }}" />
        {% else %}
        <input type="text" name="query" />
        {% endif %}
      </p>
      <input type="submit" value="Hae" />
    </form>
  
  </p>
  
  <p>
    Olet kirjautunut nimellä <a href="/user/{{ session.user_id }}">{{ session.username }}</a> 
  </p>

  {% else %}
  <p>
    <a href="/">Kotisivu</a> 
    <a href="/locations">Sijainnit</a> 
    <a href="/register">Rekisteröinti</a> 

    <form action="/search" method="get">
      <p>
        Hakusana:
        {% if query %}
        <input type="text" name="query" value="{{ query }}" />
        {% else %}
        <input type="text" name="query" />
        {% endif %}
      </p>
      <input type="submit" value="Hae" />
    </form>
  
  </p>

  {% endif %}
  <hr />


  <p> Baarilista </p>

  {% if query %}
  <hr />
  <h2>Tulokset</h2>
  
  <ul>
  {% for result in results %}
    <li>
      <a href="/locations/{{ result.location_id }}">
        {{ result.location_name }}
      </a>
      <br />
      {{ result.username }} ({{ result.sent_at }})
    </li>  
  {% endfor %}
  </ul>
  
  {% else %}

  {% for location in locations %}
  <p>
    <a href="/locations/{{ location.id }}">{{ location.bar_name }}, {{location.bar_address}}</a>
    <br />  
    
    {% if location.total > 0 %}
    {{ location.total }} kommenttia, uusin {{ location.last }}, Luonut käyttäjä <a href="/user/{{ location.creator_id }}">{{ location.creator_name }}</a> 
    
    {% else %}
    Ei kommenteja

    {% endif %}
  </p>
  
  <hr />

  {% endfor %}

  {% endif%}





</body>

</html>
