<!DOCTYPE html>
<html>

<head>
  <title> Sijainnin muokkaus</title>
</head>

<body>

  <p>
    Kaljalle sovellus
  </p>
  <hr />

  <!-- ssidebarthing-->

  {% if session.username %}
  
  <p>
    <a href="/">Kotisivu</a> 
    <a href="/locations">Sijainnit</a> 
    <a href="/new_location">Uusi sijainti</a> 
    <a href="/logout">Kirjaudu ulos</a> 
  </p>
  
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>

  <h1>Sijainnin muokkaus</h1>

  <br/>

  <form action="/result" method="post">
    <input type="hidden"  name="location_id" value="{{locationinfo.id}}">

    
    <p> Sijainti: </p>

    <!-- nimi ja osoite..-->

    <p>
      Nimi: <input type="text" name="bar_name" value="{{locationinfo.bar_name}}"/> <br/>

      Osoite: <input type="text" name="bar_address" value="{{locationinfo.bar_address}}" /> <br/>
    </p>

    
    <p>Hanajuomat:</p>

    <!--KALJAA -->
    <p>
      <input type="checkbox" name="beer" value="beer"  
        {% if drinks.get("beer") %} checked {% endif %} /> Kalja <br/>

      <input type="checkbox" name="small_beer" value="0.33/0.4" 
      {% if drinks.get("beer") and drinks["beer"].get("0.33/0.4") %} checked {% endif %}/> pieni (0.33 / 0.4)
      <input type="text" name="small_beer_price" value="{{ drinks.get('beer', {}).get('0.33/0.4', '') }}"/> (€)<br /> 

      <input type="checkbox" name="big_beer" value="0.5"
      {% if drinks.get("beer") and drinks["beer"].get("0.5") %} checked {% endif %} /> iso (0.5 l)
      <input type="text" name="big_beer_price" value="{{ drinks.get('beer', {}).get('0.5', '') }}"/> (€)<br />
    </p>

    <!--LONKERO -->
    <p>
      <input type="checkbox" name="lonkero" value="lonkero"
      {% if drinks.get("lonkero") %} checked {% endif %} /> Lonkero <br/>

      <input type="checkbox" name="small_lonkero" value="0.33" 
      {% if drinks.get("lonkero") and drinks["lonkero"].get("0.33") %} checked {% endif %}/> pieni (0.33)
      <input type="text" name="small_lonkero_price" value="{{ drinks.get('lonkero', {}).get('0.33', '') }}"/> (€)<br /> 

      <input type="checkbox" name="big_lonkero" value="0.5"
      {% if drinks.get("lonkero") and drinks["lonkero"].get("0.5") %} checked {% endif %}/> iso (0.5)
      <input type="text" name="big_lonkero_price" value="{{ drinks.get('lonkero', {}).get('0.5', '') }}"/> (€)<br /> 
    </p>

    <!-- Ananas / muut..? -->
    <p>
      <input type="checkbox" name="ananas" value="ananas"
      {% if drinks.get("ananas") %} checked {% endif %} /> Ananas Lonkero (tai muu maku lonkero) <br/>

      <input type="checkbox" name="small_ananas" value="0.33" 
      {% if drinks.get("ananas") and drinks["ananas"].get("0.33") %} checked {% endif %}/> pieni (0.33)
      <input type="text" name="small_ananas_price" value="{{ drinks.get('ananas', {}).get('0.33', '') }}"/> (€)<br /> 

      <input type="checkbox" name="big_ananas" value="0.5" 
      {% if drinks.get("ananas") and drinks["ananas"].get("0.5") %} checked {% endif %}/> iso (0.5)
      <input type="text" name="big_ananas_price" value="{{ drinks.get('ananas', {}).get('0.5', '') }}"/> (€)<br /> 
    </p>

    <!--Siideri -->
    <p>
      <input type="checkbox" name="cider" value="cider" 
      {% if drinks.get("cider") %} checked {% endif %} /> Siideri <br/>

      <input type="checkbox" name="small_cider" value="0.33" 
      {% if drinks.get("cider") and drinks["cider"].get("0.33") %} checked {% endif %}/> pieni (0.33)
      <input type="text" name="small_cider_price" value="{{ drinks.get('cider', {}).get('0.33', '') }}"/> (€)<br /> 

      <input type="checkbox" name="big_cider" value="0.5" 
      {% if drinks.get("cider") and drinks["cider"].get("0.5") %} checked {% endif %}/> iso (0.5)
      <input type="text" name="big_cider_price" value="{{ drinks.get('cider', {}).get('0.5', '') }}"/> (€)<br /> 
    </p>


    <br />
    <p>Edut/plussat:</p>
    <p>
      <input type="checkbox" name="extra" value="happy_hour"
      {% if locationinfo.happy_hour %} checked {% endif %} /> Happy hour
      <input type="checkbox" name="extra" value="student_discount"
      {% if locationinfo.student_discount %} checked {% endif %} /> Opiskelija-alennus
      <input type="checkbox" name="extra" value="gluten_free" 
      {% if locationinfo.gluten_free %} checked {% endif %}/> Gluteeniton kalja
      <input type="checkbox" name="extra" value="student_patch" 
      {% if locationinfo.student_patch %} checked {% endif %}/> Haalarimerkki
    </p>

    <br />  
    <p>Lisätietoa (mikä panimo hanoissa, % ale, happyhour ajat, speciaalit, jne): <br />
      <textarea name="extra_info" rows="5" cols="70"> {{ locationinfo.extra_info}}</textarea>
    </p>
    <input type="submit" value="Lähetä" />
  </form>


  {% else %}
  <p>
    <a href="/">Kotisivu</a> 
    <a href="/locations">Sijainnit</a> 
    <a href="/register">Rekisteröinti</a> 
  </p>

  {% endif %}
</body>

</html>
