<!DOCTYPE html>
<html>

<head>
  <title>{{thread.bar_name}}</title>
</head>

<body>
  <h1>
    {{thread.bar_name}} 
  </h1>
 

  {% if session.username %}

  <p>
    <a href="/">Kotisivu</a> 
    <a href="/locations">Sijainnit</a> 
    <a href="/new_location">Uusi sijainti</a> 
    <a href="/logout">Kirjaudu ulos</a> 
  </p>

  Olet kirjautunut nimellä <a href="/user/{{ session.user_id }}">{{ session.username }}</a> 
  </p>

  {% else %}
  <p>
    <a href="/">Kotisivu</a> 
    <a href="/locations">Sijainnit</a> 
    <a href="/register">Rekisteröinti</a> 
  </p>


  {% endif %}
  <hr />

  
  <p>
    Sijainnin nimi: <b>{{thread.bar_name}} </b><br />
    Osoite: <b>{{thread.bar_address}}</b> <br />
    Luonut käyttäjä: <a href="/user/{{ creator.id }}">{{ creator.username }}</a><br />
  </p>
  <br />

<p>
  <u>Baarin hanajuomat:</u>
</p>

{% for drink_name, label in [("beer", "Kalja"), ("lonkero", "Lonkero"), 
                             ("ananas", "Ananas/Muu maku lonkero"), ("cider", "Siideri")] %}
  {% set filtered_drinks = drinks | selectattr("drink_name", "equalto", drink_name) | list %}
  {% if filtered_drinks %}
    <p><strong>{{ label }}:</strong></p>
    <table style="border-collapse: collapse;">
      <tbody>
        {% for drink in filtered_drinks %}
        <tr>
          <td style="padding: 2px 10px;">{{ drink.drink_size }}l</td>
          <td style="padding: 2px 10px;">{{ drink.price }}€</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endfor %}


  <p>
    <u>Edut ja plussat:</u>

    <br/>
    <b>
    {% if thread.happy_hour %}
    - Happy hour
    {% endif %}

    <br/>
    {% if thread.student_discount %}
    - Opiskelija-alennus
    {% endif %}

    <br/>
    {% if thread.gluten_free%}
    - Gluteenittomia vaihtoehtoja
    {% endif %} 

    <br/>
    {% if thread.student_patch %}
    - Haalarimerkkejä
    {% endif %}
    <br/>
    <br/>

    {% if thread.extra_info %}
    Lisätietoa:
    </b>
    <br/>
    {{thread.extra_info}}
    {% endif %}
    

  </p>

  <!-- show actions if user made post-->
  {% if creator.id == session.user_id %}
  <p>
    <a href="/editlocation/{{thread.id}}">Muokkaa sijaintia</a> |
    <a href="/removelocation/{{thread.id}}">Poista sijainti</a>
  </p>
  {% endif %}

  <hr />

   <!-- show comments-->
  {% for comment in comments %}
  <p>
    <a href="/user/{{ comment.user_id }}">{{ comment.username }}</a>({{ comment.sent_at }}):
  </p>
  <p>
    {{ comment.content }}
  </p>
   <!-- show actions if user made comment-->
  {% if comment.user_id == session.user_id %}
  <p>
    <a href="/edit/{{ comment.id }}">Muokkaa kommenttia</a> |
    <a href="/remove/{{ comment.id }}">Poista kommentti</a>
  </p>
  {% endif %}
  <hr />
  {% endfor %}


  {% if session.user_id %}
  <h2>Uusi viesti</h2>

  <form action="/new_comment" method="post">
    <p>
      Viesti:<br />
      <textarea name="content" rows="5" cols="40"></textarea>
    </p>
    <input type="hidden" name="location_id" value="{{ thread.id }}" />
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Lähetä" />
  </form>
  <hr />
  {% endif %}


</body>