<!DOCTYPE html>
<html>

<head>
  <title>{{thread.bar_name}}</title>
</head>

<body>
  <p>
    Baarisivu
  </p>
 

  {% if session.username %}

  <p>
    <a href="/">Kotisivu</a> 
    <a href="/locations">Sijainnit</a> 
    <a href="/new_location">Uusi sijainti</a> 
    <a href="/logout">Kirjaudu ulos</a> 
  </p>

  Olet kirjautunut nimellä {{ session.username }}
  </p>

  {% else %}
  <p>
    <a href="/">Kotisivu</a> 
    <a href="/locations">Sijainnit</a> 
    <a href="/register">Rekisteröinti</a> 
  </p>


  {% endif %}
  <hr />

  
  <p>
    Baari: {{thread.bar_name}} <br />
    Osoite: {{thread.bar_address}} <br />
    Luonut käyttäjä: <a href="/user/{{ creator.id }}">{{ creator.username }}</a><br />
  </p>
  <br />

  <p>
    Baarin hanajuomat: <br/>
    <br/>

    {% for drink in drinks if drink.drink_name == "beer" %}
    Kalja:
    {{ drink.drink_size }}l - {{ drink.price }}€<br>
    {% endfor %}
    
    <br/>

    {% for drink in drinks if drink.drink_name == "lonkero" %}
    Lonkero:
    {{ drink.drink_size }}l - {{ drink.price }}€<br>
    {% endfor %}
    <br/>

    {% for drink in drinks if drink.drink_name == "ananas" %}
    Ananas/Muu maku lonkero:
    {{ drink.drink_size }}l - {{ drink.price }}€<br>
    {% endfor %}

    <br/>
    {% for drink in drinks if drink.drink_name == "cider" %}
    Siideri:
    {{ drink.drink_size }}l - {{ drink.price }}€<br>
    {% endfor %}


  </p>

  <p>
    Edut ja plussat:

    <br/>
    {% if thread.happy_hour %}
    - Happy hour
    {% endif %}

    <br/>
    {% if thread.student_discount %}
    - Opiskelija-alennus
    {% endif %}

    <br/>
    {% if thread.gluten_free%}
    - Gluteenittomia vaihtoehtoja
    {% endif %} 

    <br/>
    {% if thread.student_patch %}
    - Haalarimerkkejä
    {% endif %}
    <br/>
    <br/>

    {% if thread.extra_info %}
    Lisätietoa:
    <br/>
    {{thread.extra_info}}
    {% endif %}

  </p>

  <hr />

   <!-- show comments-->
  {% for comment in comments %}
  <p>
    <a href="/user/{{ comment.user_id }}">{{ comment.username }}</a>({{ comment.sent_at }}):
  </p>
  <p>
    {{ comment.content }}
  </p>
   <!-- show actions if user made comment-->
  {% if comment.user_id == session.user_id %}
  <p>
    <a href="/edit/{{ comment.id }}">Muokkaa</a> |
    <a href="/remove/{{ comment.id }}">Poista</a>
  </p>
  {% endif %}
  <hr />
  {% endfor %}


  {% if session.user_id %}
  <h2>Uusi viesti</h2>

  <form action="/new_comment" method="post">
    <p>
      Viesti:<br />
      <textarea name="content" rows="5" cols="40"></textarea>
    </p>
    <input type="hidden" name="location_id" value="{{ thread.id }}" />
    <input type="submit" value="Lähetä" />
  </form>
  <hr />
  {% endif %}


</body>