<!DOCTYPE html>
<html>

<head>
  <title>Sijainnin poisto</title>
</head>

<body>

  <p>
    Kaljalle sovellus
  </p>
  <hr />

  <!-- ssidebarthing-->

  {% if session.username %}
  
  <p>
    <a href="/">Kotisivu</a> 
    <a href="/locations">Sijainnit</a> 
    <a href="/new_location">Uusi sijainti</a> 
    <a href="/logout">Kirjaudu ulos</a> 
  </p>
  
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>

  <h1>Sijainnin poisto</h1>

  <form action="/removelocation/{{ locationinfo.id }}" method="post">
    <p>
      Haluatko varmasti poistaa sijainnin "{{locationinfo.bar_name}}"?
    </p>
    <input type="submit" name="continue" value="Jatka" />
    
    <a href="/locations/{{locationinfo.id}}"><button type="button">Peruuta</button></a>
  </form>


  {% else %}
  <p>
    <a href="/">Kotisivu</a> 
    <a href="/locations">Sijainnit</a> 
    <a href="/register">Rekisteröinti</a> 
  </p>

  {% endif %}
</body>

</html>
